/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* FONTS */

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Black.woff2') format('woff2'),
    url('../fonts/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-BlackItalic.woff2') format('woff2'),
    url('../fonts/Rubik-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Italic.woff2') format('woff2'),
    url('../fonts/Rubik-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/Rubik-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-BoldItalic.woff2') format('woff2'),
    url('../fonts/Rubik-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-ExtraBold.woff2') format('woff2'),
    url('../fonts/Rubik-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
    url('../fonts/Rubik-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-SemiBold.woff2') format('woff2'),
    url('../fonts/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-LightItalic.woff2') format('woff2'),
    url('../fonts/Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Rubik-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* HEADING section start */

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,*::before,*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Rubik',sans-serif;
    margin: 0;
}

header {
    background-color: #F6F6F9;
    min-width: 1250px;
    padding-bottom: 25px;
}

ul {
    padding: 0;
}

.container {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 45px;
}

.start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}

.end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.site-name {
    text-transform: uppercase;
    margin: 0;
}

.site-name>a {
    color: #295091;
}

.currency-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    width: 60%;
}

.currency-item>span {
    padding-right: 5px;
    color: #295091;
    font-weight: bold;
}

.search {
    padding: 13px 14px;
    border-radius: 3px;
    background-color: #fff;
    margin-right: 22px;
}

.dropdown {
    position: relative;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border-radius: 5px;
}

.dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ru {
    border-radius: 10px;
    overflow: hidden;
}

.drp-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.drp-item:hover {
    background-color: rgb(235, 235, 235);
}

.drp-text {
    margin: 2px 3px 3px 5px;
}

.dropdown-text {
    margin: 2px 3px 3px 5px;
}

.drp-list {
    display: none;
    position: absolute;
    top: 43px;
    left: -1px;
}

.drp-link {
    text-decoration: none;
    color: black;
}

.drp-link:hover .drp-list {
    display: inline-block;
}

.link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(15.07%, #1E96C8), color-stop(85.96%, #37AEE2));
    background: -o-linear-gradient(left, #1E96C8 15.07%, #37AEE2 85.96%);
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    margin-left: 25px;
}

.telegram-cyan {
    padding-right: 3px;
}

.link:hover {
    background: rgb(55,174,226);
    background: -webkit-gradient(linear,  right top, left top,  color-stop(15.07%, #1E96C8), color-stop(85.96%, #37AEE2));
    background: -o-linear-gradient(right,  #1E96C8 15.07%, #37AEE2 85.96%);
    background: linear-gradient(270deg,  #1E96C8 15.07%, #37AEE2 85.96%);
}

/* NAVIGATION section start */

nav {
    padding: 20px 25px;
    margin-top: 65px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
            box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    border-radius: 5px;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.nav-item>a {
    color: #515151;
    font-weight: 500;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.nav-item>a:hover {
    color: #295091;
}

/* HEADER section end */

/* MAIN section start */

main {
    min-width: 1250px;
}

/* COVID-19 section start */

.covid19 {
    width: 1250px;
    background: #F6F6F9;
    border-radius: 5px;
    margin-top: 25px;
    padding: 20px 70px 20px 35px;
}

.covid-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
}

.covid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 22%;
    font-size: 20px;
    padding-left: 20px;
}

.covid-item:nth-child(2) {
    border-left: 1px solid red;
}

.covid-item:nth-child(3) {
    border-left: 1px solid rgb(5, 182, 5);
}

.covid-item:nth-child(4) {
    border-left: 1px solid #000;
}

.covid-item>img {
    margin-right: 25px;
}

.covid-heading {
    width: 34%;
}

.covid-heading>a {
    color: black;
    font-weight: 500;
}

.covid-text>p {
    margin: 0;
    line-height: 30px;
}

.covid-index {
    font-weight: bold;
}

/* COVID-19 section end */

/* Main news section start */

.main-news {
    margin-top: 20px;
}

.main-news-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
}

.main-news-item {
    width: 386px;
    -webkit-box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
            box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    margin-bottom: 35px;
    padding-bottom: 10px;
}

.main-news-text {
    text-align: center;
    color: black;
    font-weight: 500;
    margin: 5px 0 10px 0;
}

.time {
    padding-left: 10px;
    font-size: 12px;
    color: #6B6D97;
}

.main-news-item>a:hover .main-news-text {
    text-decoration: underline;
}

/* Main news section end */

/* Notification section start */

.notification {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 28px 34px 28px 34px;
    background: rgba(239, 186, 84, 0.18);
}

.ntf-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ntf-text {
    margin-left: 18px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.ntf-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 8px 15px 8px 15px;
    background: -webkit-gradient(linear, left top, right top, from(#FE5C28), color-stop(88.43%, rgba(255, 139, 54, 0.9)));
    background: -o-linear-gradient(left, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
}

.ntf-link:hover {
    background: -webkit-gradient(linear, right top, left top, from(#FE5C28), color-stop(88.43%, rgba(255, 139, 54, 0.9)));
    background: -o-linear-gradient(right, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    background: linear-gradient(270deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
}

/* Notification section */

/* Last news section start */

.other-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.other-name-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.last-news {
    height: 966px;
    width: 854px;
    /* overflow-y: scroll; */
    margin-bottom: 40px;
}

.last-news-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 854px;
    margin-bottom: 18px;
}

.last-news-links {
    color: black;
}

.last-news-heading {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.last-news-text {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
}

.time-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.text-m {
    margin-bottom: 16px;
}

.text-s {
    margin-bottom: 34px;
}

.text-a {
    margin-bottom: 32px;
}

.last-news-img {
    margin-right: 20px;
}

.last-news-links:hover .last-news-heading {
    text-decoration: underline;
}

.more-btn {
    padding: 10px 30px;
    background: #295093;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    margin-left: 323px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.more-btn:hover {
    background-color: #1C5DCC;
}

.popular-news {
    width: 366px;
    padding-left: 60px;
    border-radius: 5px;
}

.popular-news-box {
    height: 117px;
    width: 336px;
    padding: 16px 20px;
    background: #F6F6F9;
    border-bottom: 1px solid #E4E4E4;
}

.pnh-box {
    height: 137px;
}

.popular-news-heading {
    margin: 0;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
}

.popular-news-text {
    margin: 0;
    margin-bottom: 18px;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
}

.text-h {
    margin: 0;
    margin-bottom: 10px;
}

.ucell {
    margin-left: -625px;
}

.ad2 {
    margin-bottom: 40px;
}

.popular-news-link:hover .popular-news-text {
    text-decoration: underline;
}

/* Last news section start */

/* MAIN section end */

/* FOOTER section start */

footer {
    background-color: #295093;
}

.logo-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #133C82;
    padding: 20px 0;
}

.logo-link {
    color: #fff;
    padding: 12px 9px;
    background: #133C82;
    border-radius: 5px;
}

.logo {
    margin: 0;
}

.tg-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tg-side-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.tg-side-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #295093;
    margin-left: 20px;
}

.info-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about {
    width: 365px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}

.about-heading {
    margin-top: 18px;
}

.about-list1 {
    padding: 0;
}

.about-item1 {
    margin-bottom: 12px;
}

.about-item1>a {
    margin-left: 110px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.about-list2 {
    padding: 0;
}

.about-item2 {
    margin-bottom: 12px;
}

.about-item2>a {
    margin-left: 115px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

/* FOOTER section end */

/* PROJECT END. THANKS FOR YOUR ATTENTION! */